<div class="valueForm" ng-controller="valueController">
	<table style="margin:auto;">
		<tr>
			<td>
				<h2>Top participants:</h2>
				<table class="flat-table">
				  <tbody>
				    <tr>
				      <th>#</th>
				      <th>Participant</th>
				      <th>Points</th>
				    </tr>
				    <tr>
				      <td>1</td>
				      <td>NAME</td>
				      <td>25</td>
				    </tr>
				  </tbody>
				</table>
			</td>
			<td width="50px;"></td>
			<td>
				<h2>Top Orginizers:</h2>
				<table class="flat-table">
				  <tbody>
				    <tr>
				      <th>#</th>
				      <th>Participant</th>
				      <th>Points</th>
				    </tr>
				    <tr>
				      <td>1</td>
				      <td>NAME</td>
				      <td>25</td>
				    </tr>
				  </tbody>
				</table>
			</td>
		</tr>
	</table>
	
</div>